#public_home_index {

  & > div {
    text-align: center;

    .section_heading {
      font-size: 40px;
      font-family: 'AppleGaramond-Italic';
      margin-bottom: 10px;
    }
  }

  .h {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    font-family: 'Miniver';
    color: #ccc;

    img {
      margin: 0 10px;
    }
  }

  @import 'index/acts';
  @import 'index/branding';
  @import 'index/calendar';
  @import 'index/form';
}
