#public_home_index {

  & > div:first-child {
    text-align: center;
    padding-top: 135px;

    & > img:first-child {
      position: relative;
      left: 11px;
    }

    .address {
      font-family: 'AppleGaramond-Bold';
      font-size: 18px;
      margin-top: 10px;
    }

    form {

      .notice {
        font-family: 'AppleGaramond-LightItalic';
        font-size: 30px;
        margin: 30px 0 15px;
      }

      table {
        width: 328px;
        margin: 0 auto;

        td {

          .field_with_errors {
            display: inline;
          }

          input[type=text] {
            margin-right: 5px;
          }
        }
      }
    }

    .validation_errors {
      margin: 10px 0;
    }

    #loader {
      display: none;
      position: absolute;
      width: 100%;
      height: 75px;
      background: asset-url('public/home/index/loader.gif', image) no-repeat center;
      margin-top: 15px;
    }
  }

  #facebook {
    width: 450px;
    margin: 0 auto;
    padding: 25px 0;
  }

  #spotify {
    text-align: center;

    p {
      margin-bottom: 10px;
    }

    li {
      margin: 0 10px;
      display: inline;
    }
  }

  #calendar {
    padding: 50px 0;

    ul {
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
        background: #000;
        color: #fff;
        width: 160px;
        height: 250px;
        margin: 0 -1px;
        text-align: left;
        padding: 5px 10px;
        line-height: 20px;

        &.cntrl {
          width: 40px;
          background: #333 no-repeat center;

          &.past {
            background-image: asset-url('public/home/index/minus.png', image);
          }

          &.future {
            background-image: asset-url('public/home/index/plus.png', image);
          }

          &:hover {
            background-color: #555;
          }
        }

        .day {
          font-size: 45px;
          line-height: normal;
          margin: -5px 0 -10px;
        }

        .month_year {
          font-size: 20px;
          margin-bottom: 15px;
          line-height: normal;
        }

        .name {
          color: #aaa;
        }

        .words {
          margin-bottom: 10px;
        }

        .acts {
          font-size: 14px;
        }
      }
    }
  }
}
