#calendar {
  text-align: left;

  & > div {
    margin: 100px 0;
  }

  .poster {
    text-align: right;
  }

  .name, .words {
    font-size: 50px;
    line-height: 80px;
    font-family: 'Miniver';
  }

  .date {
    font-size: 30px;
  }

  .price {
    font-family: 'Miniver';
    font-size: 20px;
    margin-top: 10px;
  }
}
