#calendar {
  text-align: left;

  .h {
    margin-bottom: -25px;
  }

  .row {
    margin: 100px 0;
  }

  .poster {
    text-align: right;
  }

  .name, .words {
    font-family: 'Miniver';
  }

  .name {
    font-size: 50px;
    line-height: 80px;
  }

  .words {
    font-size: 40px;
    line-height: 60px;
  }

  .date {
    font-size: 30px;
    margin-top: 2px;
  }

  .price {
    font-family: 'Miniver';
    font-size: 20px;
    margin-top: 10px;
  }
}
