#calendar {
  padding: 150px 0 200px;

  ul {

    li {
      @include user-select('none');
      display: inline-block;
      vertical-align: top;
      background: #000;
      color: #fff;
      width: 160px;
      height: 250px;
      margin: 0 -1px;
      text-align: left;
      padding: 5px 10px;
      line-height: 20px;

      &.cntrl {
        width: 40px;
        background: #333 no-repeat center;

        &.past {
          background-image: asset-url('public/home/index/minus.png');
        }

        &.future {
          background-image: asset-url('public/home/index/plus.png');
        }

        &:hover {
          background-color: #555;
        }
      }

      .day {
        font-size: 45px;
        line-height: normal;
        margin: -5px 0 -10px;
      }

      .month_year {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: normal;
      }

      .name {
        color: #aaa;
      }

      .words {
        margin-bottom: 10px;
      }

      .acts {
        font-size: 14px;

        .act {

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
