#form {
  position: relative;

  form {

    .notice {
      font-family: 'AppleGaramond-LightItalic';
      font-size: 22px;
      margin: 30px 0 15px;
    }

    .field_with_errors {
      display: inline;
    }
  }

  .validation_errors {
    margin: 10px 0;
  }

  #loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 75px;
    background: asset-url('public/home/index/loader.gif') no-repeat center;
    margin-top: 15px;
  }
}
