#north {

  ul {
    position: absolute;
    right: 100px;

    li {
      float: left;

      a {
        display: block;
        background: #000;

        &.instagram {
          padding: 11px 10px 9px;
          margin-right: 10px;
        }

        &.yelp {
          padding: 10px 12px 10px 14px;
        }

        &:hover {
          background: #666;
        }
      }
    }
  }
}
