#facebook
  .fb-like{ 'data-href' => 'http://www.facebook.com/hamandeggswine', 'data-send' => 'true', 'data-width' => '450', 'data-show-faces' => 'true' }
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/en_US/all.js#xfbml=1&appId=436971186390908';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
