#form
  = form_for @patron, :url => patrons_path, :method => :post, :remote => true, :html => { :id => 'new_patron' } do |f|
    .notice
      - if @patron.persisted?
        Thanks! We look forward to seeing you.
    %table
      %tr
        %td= f.text_field :email, :placeholder => 'Email address', :autofocus => true, :value => (@patron.persisted? ? '' : @patron.email)
        %td= f.submit 'Send'
    = validation_errors @patron

  #loader
