#public_home_index

  = render :partial => 'public/home/index/branding'

  = render :partial => 'public/home/index/form'

  = render :partial => 'public/home/index/calendar'

  :coffeescript
    Ham.start 'Index::Loader'
    Ham.start 'Index::Calendar', el: $('#calendar')
