#public_home_index.container-fluid

  = render :partial => 'public/home/index/branding'

  = render :partial => 'public/home/index/acts'

  = render :partial => 'public/home/index/form'

  :coffeescript
    Ham.start 'Index::Loader'
