#public_home_index.container

  = render :partial => 'public/home/index/branding'

  = render :partial => 'public/home/index/calendar'

  = render :partial => 'public/home/index/form'

  :coffeescript
    Ham.start 'Index::Loader'
