#north

  %ul
    %li
      = link_to 'https://www.instagram.com/hamandeggsdtla/', :class => 'instagram', :target => '_blank' do
        = image_tag 'layouts/public/north/instagram.png'
    %li
      = link_to 'http://www.yelp.com/biz/ham-and-eggs-tavern-los-angeles', :class => 'yelp', :target => '_blank' do
        = image_tag 'layouts/public/north/yelp.png'
