#north

  %ul
    %li
      = link_to 'http://www.twitter.com/GoHamEggs', :class => 'twitter', :target => '_blank' do
        = image_tag 'layouts/public/north/twitter.png'
    %li
      = link_to 'http://www.facebook.com/hamandeggswine', :class => 'facebook', :target => '_blank' do
        = image_tag 'layouts/public/north/facebook.png'
