@import 'compass';
@import 'compass/reset';
@import 'compass/css3/user-interface';

@import 'bootstrap.css';

@import 'layouts/public/central';
@import 'layouts/public/north';
@import 'layouts/public/south';

@import 'public/home/index';

@include font-face('AppleGaramond', font-files('/fonts/applegaramond-webfont.ttf', '/fonts/applegaramond-webfont.woff', '/fonts/applegaramond-webfont.svg'), '/fonts/applegaramond-webfont.eot');
@include font-face('AppleGaramond-Italic', font-files('/fonts/applegaramond-italic-webfont.ttf', '/fonts/applegaramond-italic-webfont.woff', '/fonts/applegaramond-italic-webfont.svg'), '/fonts/applegaramond-italic-webfont.eot');
@include font-face('AppleGaramond-Bold', font-files('/fonts/applegaramond-bold-webfont.ttf', '/fonts/applegaramond-bold-webfont.woff', '/fonts/applegaramond-bold-webfont.svg'), '/fonts/applegaramond-bold-webfont.eot');
@include font-face('AppleGaramond-BoldItalic', font-files('/fonts/applegaramond-bolditalic-webfont.ttf', '/fonts/applegaramond-bolditalic-webfont.woff', '/fonts/applegaramond-bolditalic-webfont.svg'), '/fonts/applegaramond-bolditalic-webfont.eot');
@include font-face('AppleGaramond-Light', font-files('/fonts/applegaramond-light-webfont.ttf', '/fonts/applegaramond-light-webfont.woff', '/fonts/applegaramond-light-webfont.svg'), '/fonts/applegaramond-light-webfont.eot');
@include font-face('AppleGaramond-LightItalic', font-files('/fonts/applegaramond-lightitalic-webfont.ttf', '/fonts/applegaramond-lightitalic-webfont.woff', '/fonts/applegaramond-lightitalic-webfont.svg'), '/fonts/applegaramond-lightitalic-webfont.eot');
@include font-face('Miniver', font-files('/fonts/miniver-regular-webfont.ttf', '/fonts/miniver-regular-webfont.woff', '/fonts/miniver-regular-webfont.svg'), '/fonts/miniver-regular-webfont.eot');
@include font-face('OpenSans-SemiBold', font-files('/fonts/opensans-semibold-webfont.ttf', '/fonts/opensans-semibold-webfont.woff', '/fonts/opensans-semibold-webfont.svg'), '/fonts/opensans-semibold-webfont.eot');

html, button, input, textarea, select {
  font-size: 16px;
}

html {
  font-family: 'AppleGaramond';
}

button, input, textarea, select {
  font-family: 'OpenSans-SemiBold';
}

body {
  background: asset-url('layouts/public/wallpaper.png') center top;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #ccc;
  }
}

.validation_errors {
  color: #f00;
  line-height: 20px;
}
