%h1 New event_participation

= form_for @event_participation, :url => admin_event_participations_path do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Back', admin_event_participations_path
